.deathknight {
  background-color: #C41F3B;
}
.druid {
  background-color: #FF7D0A;
}
.hunter {
  background-color: #ABD473;
}
.mage {
  background-color: #69CCF0;
}
.monk {
  background-color: #00FF96;
}
.paladin {
  background-color: #F58CBA;
}
.priest {
  background-color: #FFFFFF;
}
.rogue {
  background-color: #FFF569;
}
.shaman {
  background-color: #0070DE;
}
.warlock {
  background-color: #9482C9;
}
.warrior {
  background-color: #C79C6E;
}
