.deathknight {
  background-color: #C41F3B;
}
.demonhunter {
  background-color: #A330C9;
}
.druid {
  background-color: #FF7D0A;
}
.hunter {
  background-color: #ABD473;
}
.mage {
  background-color: #69CCF0;
}
.monk {
  background-color: #00FF96;
}
.paladin {
  background-color: #F58CBA;
}
.priest {
  background-color: #FFFFFF;
}
.rogue {
  background-color: #FFF569;
}
.shaman {
  background-color: #0070DE;
}
.warlock {
  background-color: #9482C9;
}
.warrior {
  background-color: #C79C6E;
}

.poor, .poor:hover {
  color: #9D9D9D;
}
.common, .common:hover {
  color: #FFFFFF;
}
.uncommon, .uncommon:hover {
  color: #1EFF00;
}
.rare, .rare:hover {
  color: #0070DD;
}
.epic, .epic:hover {
  color: #A335EE;
}
.legendary, .legendary:hover {
  color: #FF8000;
}
.artifact, .artifact:hover {
  color: #e6cc80;
}
.else, .else:hover {
  color: #000000;
}

body {
  padding-top: 70px;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
  border: none;
}

.text-black {
  color: #000000;
}